<footer class="footer footer-center p-6 bg-base-100 text-base-content/70 border-t border-base-300/50"> <!-- text-base-content/70 deve ter bom contraste -->
  <aside>
    <p class="text-sm font-medium">Copyright © <%= Time.zone.now.year %> - Minha Aplicação Inc. Todos os direitos reservados.</p>
  </aside>
</footer>